In [1]:
# Import the Data generator class from the ts_data_generator module 
from ts_data_generator import DataGen
from ts_data_generator.utils.functions import random_choice, random_int
from ts_data_generator.utils.trends import SinusoidalTrend, LinearTrend, WeekendTrend, StockTrend
import matplotlib.pyplot as plt
import random

In [2]:

d = DataGen()
d.start_datetime = "2019-01-01"
d.end_datetime = "2019-01-12"
d.to_granularity("h")


d.add_dimension("product", random_choice(["A", "B", "C", "D"]))
d.add_dimension(name="interface", function="X Y Z".split())

d.add_metric(
    name="sinusoidal", 
    trends=[
        SinusoidalTrend(name="sine", amplitude=6, freq=3, phase=0, noise_level=1.5)
    ],
    aggregation_type="sum"
    )


d.add_metric(
    name="sinusoidal_linear", 
    trends=[
        SinusoidalTrend(name="sine", amplitude=3, freq=5, phase=0, noise_level=1.5),
        LinearTrend(name="linear", limit=30, offset=10, noise_level=1)
    ],
    aggregation_type="sum"
)


def my_custom_function():
    while True:
        val1 = random.randint(1,2)
        val2 =  random.randint(1,3)
        # val3 = val1 + val2
        yield (val1, val2)

d.add_multi_items(names="val1 val2".split(), function=my_custom_function(), aggregation_type="sum mean".split())
d.add_multi_items(names="val3 val4".split(), function=my_custom_function())

In [3]:
d.data

,epoch,product,interface,sinusoidal,sinusoidal_linear,val1,val2,val3,val4
2019-01-01 00:00:00,1546300800,D,X,0.382857,10.152273,2,2,1,1
2019-01-01 01:00:00,1546304400,D,Y,-2.023875,12.096205,2,2,2,3
2019-01-01 02:00:00,1546308000,B,Z,4.517202,10.539902,1,2,1,1
2019-01-01 03:00:00,1546311600,D,X,3.310271,13.129948,1,1,1,2
2019-01-01 04:00:00,1546315200,A,Y,3.240361,13.051945,2,1,2,3
...,...,...,...,...,...,...,...,...,...
2019-01-11 20:00:00,1547236800,A,Z,-4.967101,15.393495,2,2,2,3
2019-01-11 21:00:00,1547240400,C,X,-3.157034,16.724763,1,2,2,1
2019-01-11 22:00:00,1547244000,C,Y,-4.121614,19.950467,2,1,2,1
2019-01-11 23:00:00,1547247600,B,Z,-5.118466,16.592624,2,2,1,1
2019-01-12 00:00:00,1547251200,A,X,-6.349392,17.661144,1,2,2,1

In [5]:
d.aggregate(granularity="s")

ValueError: Cannot aggregate to a finer granularity (s) than current data granularity (h)